/* *{
    
}

#mainImg{
   width: 35%;
   color: black;
   border: 2px solid black;
}
.class{
    border-radius: 10px;
    background-color: red;
}

.class2{
    border-radius: 100px;
    background-color: yellow;
    font-weight: 100px;
}
.class3{
    border-radius: 50px;
    background-color: green;
    font-size: 100px;
}
input{
    width: 35%;
} */
/* <!-- ------------------------------------------------------------------------------------ --> */