<h3>Write new chat...</h3>
<form method="post" action="/chats">
    <input placeholder="Who are you" name="from">
    <br>
    <textarea name="msg" cols="30" rows="10">
        Write your message here..
    </textarea>
    <br>
    <input placeholder="add reciever" name="to">
    <br>
    <button>create chat</button>
</form>