<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <H1>Marvel Universe <h3><%= 1+2 %></h3></H1>
    <ul>
        <li>Earth - 616</li>
        <li>Earth - 838</li>
        <li>Earth - 348</li>
        <li>Earth - 008</li>
    </ul>
</body>
</html>