#outer{
    height: 500px;
    width: 500px;
    background-color: aqua;
    display: flex;
    
    /* flex-wrap: wrap-reverse; */
    /* align-items: baseline; */
    /* align-content:center  ; */
    
}
.inner{
    height: 50px;
    width: 25px;
    transition: 2s;
    /* margin: 5px; */
    box-shadow:2px 2px 10px black ;
    
}
.inner:hover{
    /* border-radius: 50%; */
    
}
#purple{
   height: 80px;
   width: 50px;
   align-self: center;
   flex-basis: 100px;
   /* flex:; */
} 