body{
    margin-left: 20px;
}

.chat{
    width: 200px;
    background-color: aliceblue;
    padding: 20px;
    border-radius: 16px;
    display: inline-block;
    margin: 10px;

}

.msg{
    background-color: dodgerblue;
    color: whitesmoke;
    padding: 5px 15px;
    border-radius: 16px;
}